<div class="container-fluid bg-dark px-5 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
            <div class="d-inline-flex align-items-center" style="height: 45px;">
                <small class="me-3 text-light"><i class="fa fa-map-marked-alt me-2"></i> 123 Street, DongDa, Ha Noi</small>
                <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i> 098327633</small>
                <small class="me-3 text-light"><i class="fa fa-envelope-open me-2"></i> info@example.com</small>
            </div>
        </div>

        <div class="col-lg-4 text-center text-lg-end">
            <div class="d-inline-flex align-items-center" style="height:45px;">
                <a href="" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2">
                    <i class="fab fa-twitter fw-normal"></i>
                </a>

                <a href="" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2">
                    <i class="fab fa-facebook-f fw-normal"></i>
                </a>

                <a href="" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2">
                    <i class="fab fa-youtube fw-normal"></i>
                </a>

                <a href="" class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2">
                    <i class="fab fa-linkedin fw-normal"></i>
                </a>
            </div>
        </div>
    </div>
</div> 

    <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-2">
        <a href="" class="navbar-brand p-0">
            <h3 class="text-primary m-0"><i class="fa fa-map-marked-alt me-2"></i>Tourist</h3>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="fa fa-bars"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto py-0">
                <%= link_to "Home", root_path, class:"nav-item nav-link active"%>
                <%= link_to "Tour trong nuoc", root_path, class:"nav-item nav-link"%>
                <%= link_to "Tour nuoc ngoai", root_path, class:"nav-item nav-link"%>
                <%= link_to "Service Another", root_path, class:"nav-item nav-link"%>
               
                <% if user_signed_in? %>
                <li class="dropdown">
                <a href="#" class="av-item nav-link dropdown dropdown-toggle" data-bs-toggle="dropdown">
                Tour trong nuoc <b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                    <li><%= current_user.name %></li>
                    <li><%= link_to "Settings", '#' %></li>
                    <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                    </ul>
                </li>
                <% else %>
                    <%= link_to "Log in", new_user_session_path, class:"nav-item nav-link"%></li>
                <% end %>
                <%= link_to "About", root_path, class:"nav-item nav-link"%>

                <% if user_signed_in? %>
                    <%= image_tag(current_user.avatar_thumbnail, class: "user-pic") %>

                    
                <% end %>
            </div>

            
        </div>
    </nav>

