<section id="topbar" class="topbar d-flex align-items-center">
   <div class="container d-flex justify-content-center justify-content-md-between">
     <div class="contact-info d-flex align-items-center">
       <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">contact@example.com</a></i>
       <i class="bi bi-phone d-flex align-items-center ms-4"><span>+1 5589 55488 55</span></i>
     </div>
     <div class="social-links d-none d-md-flex align-items-center">
       <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
       <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
       <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
       <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
     </div>
   </div>
</section>
<header id="header" class="header d-flex align-items-center">


   <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
     <a href="index.html" class="logo d-flex align-items-center">
       <!-- Uncomment the line below if you also wish to use an image logo -->
       <!-- <img src="assets/img/logo.png" alt=""> -->
       <h1>DuLichSG<span>.</span></h1>
     </a>
     <nav id="navbar" class="navbar">
       <ul>
         <li><%= link_to "Trang chủ", root_path%></li>
         <li><%= link_to "Các chuyến đi", show_tour_path%></li>
         <li><%= link_to "Dịch vụ", show_tour_path%></li>
         <li><%= link_to "Về chúng tôi", root_path%></li>
         <li><%= link_to "Liên hệ", root_path%></li>
        
       </ul>
       <% if user_signed_in? %>
       <div class="dropdown mx-5"><%= image_tag(current_user.avatar_thumbnail, class: "bi bi-chevron-down dropdown-indicator img-user") %>
           <ul>
             <li><a href="#"><%= current_user.name %></a></li>
             <li><%= link_to "Thông tin cá nhân" %></li>
             <li><%= link_to "Chỉnh sửa thông tin", edit_user_registration_path %></li>
             <li><%= link_to "Đăng xuất", destroy_user_session_path, method: :delete %></li>
           </ul>
       </div>
       <% else %>
         <%= link_to "Đăng nhập", new_user_session_path, class: "btn-getstarted scrollto mx-5"%>
       <% end %>
     </nav><!-- .navbar -->
    
     <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
     <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
   </div>
 </header>
 
