<h2>Admin</h2>
<ul class="nav">
      <li>
        <%= link_to "All Users", admin_users_path %>
      </li>
      <li>
        <%= link_to "All List Tours", admin_list_tours_path %>
      </li>
      <li>
        <%= link_to "All Tours", admin_tours_path %>
      </li>
      <li>
        <%= link_to "All Order" %>
      </li>
      <li>
        <%= link_to "All Category", admin_categories_path %>
      </li>
      <li>
        <%= link_to "All Service" %>
      </li>
      <li>
        <%= link_to "Settings", edit_user_registration_path %>
        <%= image_tag(current_user.avatar_thumbnail) %>
      </li>

      <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>
</ul>