<section id="home" class="welcome-hero">
	<div class="container">
		<div class="welcome-hero-txt">
			<h2>best place to find and explore <br> that all you need </h2>
			<p>Find Best Place, Restaurant, Hotel, Real State and many more think in just One click </p>
		</div>
		<div class="welcome-hero-serch-box">
					<div class="welcome-hero-form">
						<div class="single-welcome-hero-form">
							<h3>what?</h3>
							<form action="index.html">
								<input type="text" placeholder="Ex: palce, resturent, food, automobile" />
							</form>
							<div class="welcome-hero-form-icon">
								<i class="flaticon-list-with-dots"></i>
							</div>
						</div>
						<div class="single-welcome-hero-form">
							<h3>location</h3>
							<form action="index.html">
								<input type="text" placeholder="Ex: london, newyork, rome" />
							</form>
							<div class="welcome-hero-form-icon">
								<i class="flaticon-gps-fixed-indicator"></i>
							</div>
						</div>
					</div>
					<div class="welcome-hero-serch">
						<button class="welcome-hero-btn" onclick="window.location.href='#'">
							 search  <i data-feather="search"></i> 
						</button>
					</div>
		    </div>
	</div>

</section><!--/.welcome-hero-->
<section>
<div class="container-xxl py-5 destination mt-5">
 <div class="container">
   <div class="text-center">
     <h6 class="section-title bg-white text-center text-warning px-3">
       Destination
     </h6>
     <h1 class="mb-5">Popular Destination</h1>
   </div>


   <div class="row g-3">
     <div class="col-lg-7 col-md-6">
       <div class="row g-3">
         <div class="col-lg-12 col-md-12">
           <a href="" class="d-block position-relative overflow-hidden">
             <%= image_tag('nhatban.jpg', class:"img-fluid") %>
             <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">50% OFF</div>
             <div class="bg-white text-warning fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Japan</div>
           </a>
         </div>


         <div class="col-lg-6 col-md-12">
           <a href="" class="d-block position-relative overflow-hidden">
             <%= image_tag('thailand.jpg', class:"img-fluid") %>
             <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">30% OFF</div>
             <div class="bg-white text-warning fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">ThaiLand</div>
           </a>
         </div>


         <div class="col-lg-6 col-md-12">
           <a href="" class="d-block position-relative overflow-hidden">
             <%= image_tag('hagiang.jpg', class:"img-fluid") %>
             <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">40% OFF</div>
             <div class="bg-white text-warning fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Ha Giang</div>
           </a>
         </div>
       </div>
     </div>


     <div class="col-lg-5 col-md-6" style="min-height: 350px;">
       <a href="" class="d-block position-relative h-100 overflow-hidden">
         <%= image_tag('singapore.webp', class:"img-fluid position-absolute w-100", style:"object-fit: cover;") %>
         <div class="bg-white text-danger fw-bold position-absolute top-0 start-0 m-3 py-1 px-2">20% OFF</div>
         <div class="bg-white text-warning fw-bold position-absolute bottom-0 end-0 m-3 py-1 px-2">Singapore</div>
       </a>
     </div>
   </div>
 </div>
</div>
</section>
<section id="chefs" class="chefs section-bg">
<div class="container" data-aos="fade-up">

  <div class="section-header">
    <h2>Tour </h2>
    <p>Outstanding <span></span>Tour</p>
  </div>

  <div class="row gy-4">
  <% @tours.each do |tour| %>
    <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
      <div class="chef-member">
        <div class="member-img">
        <%= image_tag(tour.image, class: "img-fluid") if tour.image.attached?%>
          <div class="social">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
        <div class="member-info">
          <h4><%= tour.title %></h4>
          <span><%= tour.price %></span>
          <p><%= tour.description %></p>
          <%= link_to 'Read more', static_page_path(tour.id), class:"btn btn-sm btn-read px-3", style:"border-radius: 30px 0 0 30px;" %>
          <%= link_to 'Book now', new_booking_path, class:"btn btn-sm btn-book px-3", style:"border-radius: 0 30px 30px 0;" %>
        </div>
      </div>
      
    </div>
    <% end %>
  </div>

</div>
</section>