<div class ="container">
<div class="house-details">
<% if @tour %>
<div class="house-title">
  <h1><%= @tour.title %></h1>
  <div class="row">
    <div>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star"></i>
      <i class="fas fa-star-half-alt"></i>
      <span>245 Đánh giá</span>
    </div>
    <div>
      <p><%= @tour.description %></p>
      <p>Số lượt đã đặt: <%= @tour.sales_count %></p>
    </div>
  </div>
</div>
<div class="gallery">
  <div class="gallery-img-1"><%= image_tag(@tour.image) if @tour.image.attached? %></div>
</div>

<div class="small-details">
  <h2>Chi tiết về chuyến đi</h2>
  <p><%= raw @tour.detail %></p>
  <h4>$ <%= @tour.price %> / Người</h4>
  <%= link_to 'Đặt Ngay', new_booking_path(tour_id: @tour.id), class: "btn btn-primary", style: "border-radius: 30px;" %>
</div>
<hr class="line">
<% end %>
</div>


<div class="list-container">
 <div class="left-col">
    <p>10+ Gợi ý</p>
    <h2>Một số chuyến đi bạn tham khảo</h2>
    <% @tour_recommendations.each do |tour| %>
    <div class="house">
      <div class="house-img">
        <%= image_tag(tour.image, class: "image", style: "width: 350px; height: 200px;") if @tour.image.attached?%>
      </div>
      <div class="house-info">
         <h3><%= tour.title %></h3>
         <p><%= tour.description %></p>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star"></i>
         <i class="fas fa-star-half-alt"></i> </br>
         <div class="house-price">
           <h4> <%= tour.price %><span>/ Người</span></h4>
           <%= link_to 'Chi tiết', static_page_path(tour.id), class:"btn btn-sm btn-read px-3", style:"border-radius: 30px 0 0 30px;" %>
         </div>
      </div>
    </div>
    <% end %>
 </div>
</div>
