<%= form_for([:admin, @list_tour]) do |form| %>
  <% if @list_tour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(list_tour.errors.count, "error") %> prohibited this list_tour from being saved:</h2>

      <ul>
        <% list_tour.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :Name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= form.label :Category_id %>
    <%= form.text_area :category_id, class: 'form-control' %>
  </div>

  <div class="actions">
  <%= form.submit "#{action} danh mục", class:"btn btn-primary" %>
  <button type="button" class="btn btn-outline-primary"><%= link_to 'Trở về', admin_list_tours_path %></button>                                
 </div>

  <% end %>