<h1>Admin Posts</h1>


<table>
 <thead>
   <tr>
     <th>Title</th>
     <th>Description</th>
     <th>Price</th>
     <th>Image</th>
     <th>Status</th>
     <th>ListTour</th>
     <th>Actions</th>
   </tr>
 </thead>
 <tbody>
   <% @tours.each do |tour| %>
     <tr>
       <td><%= tour.title %></td>
       <td><%= tour.description %></td>
       <td><%= tour.price %></td>
       <td><%= image_tag(tour.image, class: "image") if tour.image.attached?%> </td>
       <td><%= tour.status.humanize %></td>
       <td><%= tour.list_tour_id %></td>
       <td>
         <%= link_to 'Show', admin_tour_path(tour) %>
         <% if policy(Tour).update? %>
           <%= link_to 'Edit tour', edit_admin_tour_path(tour) %>
         <% end %>


         <% if policy(Tour).destroy? %>
         <%= link_to 'Destroy', admin_tour_path(tour), method: :delete, data: { confirm: 'Are you sure?' } %>
         <% end %>
       </td>
     </tr>
   <% end %>
 </tbody>
</table>
     <% if policy(Tour).create? %>
       <%= link_to 'New tour', new_admin_tour_path %>
     <% end %>
  

