<h1>Tour: <%= @tour.id %></h1>
<% if flash.now[:alert].present? %>
  <div class="error">
    <%= flash.now[:alert] %>
  </div>
<% end %>

<%= form_with model: @booking do |form| %>
  <%= form.hidden_field :tour_id, value: @tour.id %>

  <%= form.label :start_date %>
  <%= form.date_field :start_date %>

  <%= form.label :end_date %>
  <%= form.date_field :end_date %>

  <%= form.label :number_person, 'Number of Persons:' %>
  <%= form.number_field :number_person, min: 1 %>
  
  <%= form.submit 'Check out', remote: true %></br>
<% end %>