<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-between h-100">
        <div>
          <h1 class="mb-3">Tour: <%= @tour.id %></h1>
          <p><strong>Description:</strong> <%= @tour.description %></p>
          <p><strong>Price:</strong> $<%= @tour.price %></p>
          <%= image_tag(@tour.image, class: "img-fluid rounded", style: "max-width: 100%; height: auto;") if @tour.image.attached? %>
        </div>
        <div>
          <% if flash.now[:alert].present? %>
            <div class="alert alert-danger mt-3">
              <%= flash.now[:alert] %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="d-flex flex-column justify-content-center h-100">
        <%= form_with model: @booking do |form| %>
          <%= form.hidden_field :tour_id, value: @tour.id %>

          <div class="mb-3">
            <%= form.label :start_date, class: 'form-label' %>
            <%= form.date_field :start_date, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= form.label :end_date, class: 'form-label' %>
            <%= form.date_field :end_date, class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= form.label :number_person, 'Number of Persons:', class: 'form-label' %>
            <%= form.number_field :number_person, min: 1, class: 'form-control' %>
          </div>

          <%= form.submit 'Check out', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
