<%= form_for([:admin, @post]) do |form| %>
  <div class="field">
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </div>
  <div class="field">
    <%= form.label :discription %><br>
    <%= form.text_area :discription %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select(Post.statuses.map { |key, value| [key.humanize, key] }), {prompt: "Select status of Post..."}, class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "#{action} Post" %>
  </div>
<% end %>
