<p id="notice"><%= notice %></p>
<%= @post.title %> </br>
<%= @post.discription %> </br>
<%= @post.humanized_status %>
<%= link_to 'Edit', edit_admin_post_path(@post) %>
<%= link_to 'Back', admin_posts_path %>
