<p id="notice"><%= notice %></p>

<p>
  <strong>Tourname:</strong>
  <%= @category.tourname %>
  <ul>
    <% @category.list_tour.all.each do |list_tour| %>
      <li><%= list_tour.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>
