<div class="container-fluid">
    <h1 class="mb-4">Danh sách người dùng</h1>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">Tên người dùng</th>
        <th scope="col">Địa chỉ email</th>
        <th scope="col">Số điện thoại</th>
        <th scope="col">Hành động</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.phone_number %></td>
            <td>
            <td>
                <%= link_to 'Sửa' %>
                <%= link_to 'Xoá' %>
            </td>
            </td>
        </tr>
        <% end %>
    </tbody>
    </table>
</div>